@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --vp-c-brand: #d05a6e;
    --vp-c-bg: rgb(26, 26, 26);
    --vp-c-bg-alt: rgb(23, 23, 23);
    --vp-c-bg-nav: rgba(23, 23, 23, 0.8);
    --vp-c-bg-mark: rgb(0, 0, 0);
}
